.logo1{height: 50px;width: 60px; margin-bottom: -13px; margin-top: -20px; }

.navbar{background-color: #020306!important;}

.about1{margin-left: 20px;font-family: 'Times New Roman', Times, serif;font-weight: bold; color: white;margin-top: 100px;}

.name1{color: white;}

.scrollspy-example{background-image: url(bg4.jpg);background-size: cover;background-repeat: no-repeat;}


.firstpage1{float: left!important;}

.img5{float: left!important
    ;height: 580px;width: 600px;margin-top: -25px;margin-bottom: -50px;}

    .aboutmepage{background-color: #050d1a;}

    .text1{font-family: 'Times New Roman', Times, serif;color: white;text-align: center;font-weight: bold;margin-left: 700px;}

    .textarea{color: white;margin-top: 200px; font-family: 'Times New Roman', Times, serif; font-weight: bold;}

    .text3{color: white;}

    .date5{color: white;}